<!DOCTYPE HTML>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="{{encoding}}">
	<meta name="viewport" content="width=792, user-scalable=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<link rel="stylesheet" href="http://shwr.me/shower/themes/ribbon/styles/screen.css">
	<style type="text/css">
	    {{{externalStyle}}}
	</style>
</head>
<body class="list">
	<header class="caption">
		<h1>{{title}}</h1>
	</header>

	{{{slideshow}}}

	<div class="progress"><div></div></div>
	<script src="http://shwr.me/shower/shower.min.js"></script>
</body>
</html>